# C files
*.o
*.out
a.out
*.so
*.exe
core

# Editor files
.vscode/
*.swp
*~

# Obsidian
vault/.obsidian/workspace*
vault/.obsidian/cache
vault/.obsidian/plugins/
vault/.trash/

# Python files  
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
